* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
:root {
    --primary-color: indigo;
    --secondary-color: violet;
    --tertiary-color: thistle;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 150px;
}

.questions-title-section {
    font-size: 45px;
    margin: 50px;
    margin-left: 0;
}

.hide {
    display: none;
}

#btn-high-scores {
    color:var(--secondary-color); 
    margin: 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    text-decoration: none;
}

#btn-high-scores:hover {
    color: rgba(247, 131, 212, 0.502);
}

#view-high-scores {
    display: flex;
    justify-content: space-between;
}

#timer {
    margin: 30px;
} 

#home-text-section {
    margin: 30px;
}

#btn-start-quiz {
    margin: 30px;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
}

#btn-start-quiz:hover {
    background-color: var(--secondary-color);
}

.text {
    font-size: 18px;
}

p {
    font-size: 20px;
}

.home-text {
    text-align: center;
}

#title-section {
    text-align: center;
}

#answersId {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}

.abcd {
    margin: 3px;
    border: none;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 10px 20px;
    width: 200px;
    text-align: left;
}

.abcd:hover {
    background-color: var(--secondary-color);
    }

.correctWrong {
    color: grey;
    border-top: grey solid 1px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.end-quiz-p {
    font-size: 16px;
}

.btn-submit {
    margin: 10px;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

.btn-submit:hover {
    background-color: var(--secondary-color);
}

.btn-replay {
    margin: 10px;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

.btn-replay:hover {
    background-color: var(--secondary-color);
}

#end-quiz {
    display: flex;
    margin-left: 300px;
}

ol {
    background-color: rgb(75, 0, 130, 0.5);
    list-style-type: none;
}

ol li {
    display: flex;
    justify-content: flex-start;
}

#btn-go-back {
    margin: 10px;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

#btn-go-back:hover {
    background-color: var(--secondary-color);
}

#btn-clear-high-scores {
    margin: 10px;
    color: white;
    font-size: 14px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
}

#btn-clear-high-scores:hover {
    background-color: var(--secondary-color);
}

#high-scores-page {
    margin-bottom: 40px;
}